body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-right {
  text-align: right !important;
}

.formulaire input[type="password"],
.formulaire input[type="text"],
.formulaire input[type="email"],
.formulaire input[type="date"] {
  width: 100%;
  border: 1px solid #8b8b8b61;
  border-radius: 2px !important;
  padding: 0.5em;
}
.form-control:focus {
  border-color: #fb8500 !important;
  box-shadow: none !important;
}
.btn:focus {
  box-shadow: none !important;
}
.text-orange {
  color: #fb8500 !important;
}
.color-grey {
  color: #3f3e3e;
}
.Empty {
  text-align: center;
  padding-top: 5em;
  padding-bottom: 3em;
  min-height: 300px;
  font-weight: 300;
  font-size: 20px;
  color: #212529;
}
