.chatLeft,
.chatRight {
  border-right: 2px solid #d4d4d4;
  margin: 0;
  padding: 0;
  min-height: 60vh;
}
.chatLeft .chatLeftTitle {
  padding: 0.8em;
  text-align: center;
  background: #fb8500;
  color: white;
}
.chatRight .chatRightTitle {
  padding: 1em;
  border-bottom: 1px solid #d4d4d4;
}
.chatLeft ul {
  list-style: none;
  padding: 0;
}
.chatLeft ul li {
  cursor: pointer;
  padding: 1em;
  border-bottom: 1px solid #d4d4d4;
}
.chatLeft ul li:hover {
  background: #d4d4d4;
}
.chatLeft .chatLeftPicture,
.chatRight .chatRightPicture {
  height: 40px;
  width: 40px;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}
.width-50 {
  width: 50%;
}
.chatLeft .chatLeftNameUser,
.chatRight .chatRightNameUser {
  padding: 0.45em;
  padding-left: 1em;
  width: calc(100% - 50px);
}
.chatBox {
  height: 70vh;
  width: 100%;
  padding: 1em;
}
.chatBox .chatboxPicture {
  height: 40px;
  width: 40px;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  margin-right: 10px;
}
.chatBox .MessageDisplay {
  width: calc(100% - 50px);
}
.chatBox .MessageContent {
  border-radius: 30px;
  padding: 0.5em 1em;
  word-wrap: break-word;
  max-width: 100%;
}
.messageSendColor {
  background: #fb8500;
  color: #fff;
}
.messageReceiveColor {
  background: #eeeeee;
  color: #575757;
}
.max-width-1000 {
  max-width: 1000px;
}
.sendMessageBtn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding-bottom: 1em;
  margin: 0 10px;
}
.sendMessageInput {
  width: calc(100% - 60px);
  height: 40px;
  border: none;
  padding-left: 2em;
}
.messageBox {
  padding: 10px 0;
  border-top: 1px solid #d4d4d4;
}
.dateOfMessahe {
  font-size: 0.6em;
  margin-right: 1em;
  font-weight: 700;
  color: grey;
  margin-left: 3.5em;
}
.loading {
  height: calc(70vh + 110px);
  padding: 47%;
}
.chatRight .loading .spinner-border {
  height: 3em !important;
  width: 3em !important;
}
.bg-grey {
  background: #e3e3e35e;
}
