.product-img {
  height: 100px;
  width: 100px;
  background-size: cover;
  background-position: center;
}
.size0-5em {
  font-size: 0.8em;
}
.deleteBTN {
  color: #fb8500;
  font-size: 1.1em;
}
.deleteBTN svg {
  font-size: 1.2em;
}
.add-minus {
  padding: 0;
  background: #fb8500;
  font-weight: 900;
  color: white;
  border-radius: 2px;
  height: 30px;
  width: 30px;
}
.add-minus:hover,
.btn-checkout:hover {
  background: #023047;
  color: white;
}
.bb-1 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.btn-checkout {
  background: #fb8500;
  border: none;
  border-radius: 2px;
  padding: 11px;
  box-shadow: none;
  color: white;
  margin-top: 26px;
  width: 90%;
  text-shadow: none;
  transition: 0.3s;
  outline: none !important;
  margin-left: auto;
}

.couponGroupe input {
  width: 70%;
  outline: none;
  border: 0.5px solid #fb8500;
  padding-left: 1em;
  border-radius: 2px 0 0 2px !important;
}
.couponGroupe .btn-orange {
  border-radius: 0 2px 2px 0 !important;
  width: 30%;
}
.card-checkout-methode {
  height: 250px;
  width: 250px;
  color: white;
  text-align: center;
  padding-top: 105px;
  font-size: 1.25em;
  font-weight: 300;
  margin: 2em auto 2em auto !important;
  cursor: pointer;
  transition: 0.2s;
}
.card-checkout-methode:hover {
  opacity: 0.8;
}
.stripeColor {
  background-color: #675aff;
}
.metamaskColor {
  background-color: #f7841b;
}
