a {
  color: #0da9ef;
  text-decoration: none !important;
}
.avatar {
  height: 10em;
  background: red;
  background-size: cover;
  background-position: center;
  width: 10em;
  border-radius: 50%;
}
.tableOfData table tr {
  border-bottom: 1px solid grey !important;
  /* margin: 0.4em; */
}
.validationPassword input[type="password"] {
  width: 100%;
  border: 1px solid #8b8b8b61;
  border-radius: 3px;
  padding: 0.5em;
}
.messageError {
  color: red;
  text-transform: capitalize;
  margin: 0.5em 0.3em;
}
.title-cardTemplate button.btn {
  position: absolute;
  top: 0;
  right: 2%;
  font-size: 1.25em;
}
.item-Category {
  background: grey;
  width: 100%;
  max-width: 250px;
  padding: 0.1em;
}
