body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-right {
  text-align: right !important;
}
body {
  background-color: #eee !important;
}
.btn:focus,
input:focus {
  box-shadow: none !important;
}
input:focus-visible {
  outline: none;
}
.btn-orange {
  color: white !important;
  background: #fb8500 !important;
  font-weight: 500;
  transition: 0.3s;
}
.btn-orange:hover {
  color: white !important;
  background: #023047 !important;
}
